.button {
    border: none;
    color: #1e1f22;
    padding: 15px 32px;
    text-align: center;
    text-decoration: NONE;
    display: inline-block;
    font-size: 100px;
    border-top: #1c44be;
    margin-top: 1px;
}
