.button,.button2 {
    color: #1e1f22;
    padding: 15px 32px;
    text-align: center;
    text-decoration: NONE;
    display: inline-block;
    font-size: 40px;
    border-top-width: 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-color: #687291;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    text-shadow: 2px 2px;
    box-shadow: 10px 10px;
    transition: width 2s;
}

.button1{
    padding: 15px 32px;
    font-size:40px;
    background-color: #687291;
    border-width: 4px;
    height:100px;
    width:100px;
    text-shadow: 2px 2px;
    box-shadow: 10px 10px;
    transition: width 2s;

}

div{
    text-align: center;
}

.button1:hover{
    width: 300px;
}

